{{#if model.isError}}
<div class="errors">
  {{#each model.errors as |error|}}
  <div>Error: {{error}}</div>
  {{/each}}
</div>
{{/if}}


<div>
  <label for="path">Path</label>
  {{input name="path" value=model.path}}
  <button {{action "createDisk" model}}>Register</button>
</div>

{{outlet}}
