{{#unless model.isValid}}
<div class="errors">
  {{#each model.errors.messages as |error|}}
  <div>{{error}}</div>
  {{/each}}
</div>
{{/unless}}


<div>
  <label for="path">Path</label>
  {{input name="path" value=model.path}}
  <button {{action "createDisk" model}}>Register</button>
</div>

{{outlet}}
