<div id="frame">
    <div id="header">
        <ul id="menu">
            <li> {{#link-to 'application'}}Home{{/link-to}} </li>
            <li> {{#link-to 'transfers'}}Transfers{{/link-to}} </li>
        </ul>
    </div>

    <div id="body">
        {{outlet}}
    </div>
</div>
