@import "color_scheme";
@import "bourbon";
@import "foundation_settings";
@import "foundation";

#frame {
    @include grid-frame($orientation: vertical);

    #header {
        @include grid-content;

        ul#menu {
            @extend %menu-bar;
            @include menu-bar-layout(
                $orientation: horizontal
            );
            @include menu-bar-style(
                $background: $color1,
                $autocolor: true
            )
        }
    }

    #body {
        @include grid-content;

        #transfers {
            @include block-list-container(
              $full-bleed: false
            );

            li {
                @include clearfix;
            }

            .transfer {
                float: right;
                min-width: 10em;
                max-width: 15em;
                border-color: $color4;
                border-style: solid;
                @include border-top-radius(5px);
                @include border-bottom-radius(10px);
                .rates {
                    @include clearfix;
                    .up-rate, .down-rate {
                        width: 50%;
                        text-align: center;
                    }
                    .up-rate {
                        float: left;
                        @include border-style(null solid null null);
                        border-right-color: $color5;
                        border-right-width: $transfer-rates-indicator-width;
                    }
                    .down-rate {
                        float: right;
                        @include border-style(null null null solid);
                        border-left-color: $color3;
                        border-left-width: $transfer-rates-indicator-width;
                    }
                }
                .progress {
                    @include border-style(solid null null null);
                    border-top-color: $color4;
                    .progress-meter {
                        background: $color2;
                        text-align: center;
                        transition: width 0.8s;
                    }
                }
            }
        }
    }
}
