@import "color_scheme";
@import "bourbon";
@import "foundation_settings";
@import "foundation";

#frame {
    @include grid-frame($orientation: vertical);

    #header {
        @include grid-content;

        ul#menu {
            @extend %menu-bar;
            @include menu-bar-layout(
                $orientation: horizontal
            );
            @include menu-bar-style(
                $background: $color1,
                $autocolor: true
            )
        }
    }

    #body {
        @include grid-content;

        #transfers {
            @include block-list-container(
              $full-bleed: false
            );
        }
    }
}
